<div class="course-details">
    <h1>Course Details</h1>
    <div *ngIf="course" class="container">
        <h2>{{ course.title }}</h2>
        <p><strong>Instructor:</strong> {{ course.instructor }}</p>
        <p><strong>Price:</strong> ₹{{ course.price }}</p>
        <div class="box">
        <p><strong>Description:</strong> {{ course.description }}</p>
    </div>
        <button (click)="goToCourses()">🔙 Back to Courses</button>
    </div>
    <div *ngIf="!course">
        <p>Course not found.</p>
    </div>
</div>
