<nav class="navbar">
    <div class="nav-left">
        <h5>E-Learning Platform</h5>
    </div>
    <div class="nav-right">
        <a routerLink="/courses">
            <p>View Courses</p>
        </a>
        <a routerLink="/add-course">
            <p>➕ New Course</p>
        </a>
        <a routerLink="/login"><button id="login-btn">Login</button></a>
        <button id="logout-btn" (click)="onLogout()">Logout</button>
    </div>
</nav>
<h1>Empower Your Learning Journey 🚀</h1>
<div class="container">
</div>
